@model Schedule_Planner.Models.UserModel
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden/>
    <input asp-for="Password" hidden/>
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="pl-3" style="color:#dc3545;">Delete Category</h2>
        </div>
        <div class="row">
            <div class="col-8 my-3">
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="UserName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserName" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-4">
                        <label asp-for="Role"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Role" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" style="border:3px solid #dc3545;" value="Delete"/>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-light w-100 ret-but">
                                Return &nbsp; <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{<partial name="_ValidationScriptsPartial" />}
}