html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-image: url(/media/images/login-bg.jpg);*/
}

.ins-body {
    background-color: white;
    margin-top: 8%;
    width: 90%;
}

.login-image {
    display: flex;
    flex-wrap: wrap;
    border-right: 3px solid blue;
    line-height: 10px;
    margin-top: 20%;
    margin-left: 30%;
    padding-right:15%;
}
.login-right {
    display: block;
}

.login-form {
    display: block;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: normal;
    text-align: center;
    width:400px;

}
.login-button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
    margin: 20px 0px;
}
footer {
    text-align:center;
    border:none;
    font-size:16px;
}


.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}