@model Schedule_Planner.Models.UserModel
@{
    ViewData["Title"] = "My Account";
}




<div class="acc-card">
    <div class="card" id="grad" style="width: 700px;text-align:center; border:2px solid #142d4c;">
      <div class="card-body" style="height:200px;">
        <h5 class="card-title" style="margin-top:40px;font-weight:300;font-size:42px;color:white;">Welcome! <br />
            <span style="font-weight:600;font-size:26px;color:white;">@Model.UserName</span>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="padding-top:20px;padding-bottom:20px;border-bottom:1px solid #142d4c;background-color:whitesmoke"> <span style="color:#787878;font-size:14px;">Your Username:</span> <br /> <span style="font-weight:500"> @Model.UserName </span> </li>
        <li class="list-group-item" style="padding-top:20px;padding-bottom:20px;border-bottom:1px solid #142d4c;background-color:whitesmoke"> <span style="color:#787878;font-size:14px;">Your Name: </span> <br /> <span style="font-weight:500"> @Model.Name </span></li>
        <li class="list-group-item" style="padding-top:20px;padding-bottom:20px;background-color:whitesmoke"><span style="color:#787878;font-size:14px;"> Your Role: </span> <br /> <span style="font-weight:500">  @Model.Role </span></li>
      </ul>
    </div>

</div>




